<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <menuitem
            id="menu_root"
            name="QLPH"
            sequence="0"/>
          
        <menuitem name="Quản lý phòng họp" 
            id="menu_phong_hop" 
            parent="menu_root" 
            sequence="1"
            action="action_phong_hop"
        />
        <menuitem name="Quản lý đặt phòng" 
            id="menu_dat_phong" 
            parent="menu_root" 
            sequence="2"
            action="action_dat_phong"
        />
    </data>
</odoo>
